p.code {
	font-family: 'Courier New', Courier, monospace;
	color: #0EFC57;
	background-color: #0E0E0E;
	padding: .1em .2em;
}

span.fe-hide {
	color: #CCCCCC;
	font-style: italic;
}

span.code {
	font-family: 'Courier New', Courier, monospace;
	color: #0EFC57;
	background-color: #0E0E0E;
	padding: .1em .2em;
}
